ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
li a{
    /* height: 22.5rem; */
    height: auto;
    width: 15rem;
    border: 1px solid #061826;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #061826;
  }
  
li a:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  
li a img{
    object-fit: contain;
    height: 14.5rem;
    padding-top: 1rem;
  }
  
.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: auto;
    min-height: 4rem;
  }

.card-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

.purpose{
    flex: 9;
  }

.purpose span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
  
.name{
    font-size: 2rem;
    font-weight: bold;
  }