<header>
    <div class="container">
        <a routerLink="/" class="logo">Deck Analysis</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/cardDatabase">Card Database</a>
                </li>
                <li *ngIf="!isAuthenticated">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuthenticated" class="menu-container">
                    <a routerLink="/dashboard">{{user.firstName}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>